# === Aktifkan mod_rewrite ===
RewriteEngine On

# === Paksa HTTPS ===
RewriteCond %{HTTPS} !=on
RewriteRule ^(.*)$ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]




# === Default page ===
DirectoryIndex index.php

# === Routing Halaman ===
RewriteRule ^Home$ index.php [L]
RewriteRule ^Activity$ kegiatan.html[L] 

# === Redirect root ke Home ===
RewriteRule ^$ index.php [L]

# === Opsional: Hilangkan ekstensi .php di URL ===
RewriteCond %{REQUEST_FILENAME}.php -f
RewriteRule ^([^/]+)/?$ $1.php [L]
